extends layout

block content
  link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
  link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  script(src="/javascripts/dropdown.js")
  header
    .row
    .hero
      .centerme
        h1  WELCOME TO AISLE HUNTER
        | 		
        .dropdown
          button.dropbtn(onclick="myFunction()") EXPLORE LOCATIONS
          |   
          #myDropdown.dropdown-content
            each storename, i in storeN
              a(href="/store?id=" + storeI[i]) #{storeN[i]}